<h1>マイページ</h1>

<span>登録情報</span>

<%= link_to "編集する", public_customer_edit_path, class: "btn btn-success" %>

<table class="table-bordered">
  <thead></thead>
  <tbody>
    <tr>
      <td class="table-active">氏名</td>
      <td><%= @customer.last_name %>&nbsp;<%= @customer.first_name %></td>
    </tr>
    <tr>
      <td class="table-active">カナ</td>
      <td><%= @customer.kana_last_name %>&nbsp;<%= @customer.kana_first_name %></td>
    </tr>
    <tr>
      <td class="table-active">郵便番号</td>
      <td><%= @customer.post_code %></td>
    <tr>
      <td class="table-active">住所</td>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <td class="table-active">電話番号</td>
      <td><%= @customer.phone_number %></td>
    </tr>
    <tr>
      <td class="table-active">メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>
  </tbody>
</table>

<span strong>配送先</span>
<%= link_to "一覧を見る", public_addresses_path, class: "btn btn-primary" %>

<span>注文履歴</span>
<%= link_to "一覧を見る", public_orders_path, class: "btn btn-primary" %>
