<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1 mb-5'>
      <div class="row m-5 align-items-center">
        <h2 class="bg-light">&nbsp;「<%= @genre.name %>」ジャンルの商品一覧&nbsp;</h2>
        <div class="m-3 ml-auto">
          <%= link_to "＋", new_admin_item_path, class: "btn btn-light btn-lg rounded-circle p-3 shadow font-weight-bold", :style => "width:4rem; height:4rem;" %>
        </div>
      </div>
      <table class='table'>
        <thead class="bg-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody class="table-borderless">
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name,admin_item_path(item), :style => "color:black; text-decoration:underline" %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_sale == true %>
                <td class="text-success font-weight-bold"><%= "販売中" %></td>
              <% else %>
                <td class="text-secondary font-weight-bold"><%= "販売停止中" %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>