<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="row m-5 align-items-center">
        <h2 class="bg-light">&nbsp;商品詳細&nbsp;</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-3 mr-5">
            <%= image_tag @item.get_item_image %>
          </div>
          <div class="col-6 offset-2">
            <table class='table table-hover table-inverse'>
              <tr><th>商品名</th><td><%= @item.name %></td></tr>
              <tr><th>商品説明</th><td><%= @item.introduction %></td></tr>
              <tr><th>ジャンル</th><td><%= @item.genre.name %></td></tr>
              <tr><th>税込み価格<br>(税抜き価格)</th><td class="align-middle"><%= (@item.price * 1.1).floor %>&nbsp;(<%= @item.price %>)&nbsp;円</td></tr>
              <tr>
                <th>販売ステータス</th>
                <% if @item.is_sale == true %>
                  <td><%= "販売中" %></td>
                <% else %>
                  <td><%= "販売停止中" %></td>
                <% end %>
              </tr>
            </table>
          </div>
          <div class="mx-auto mb-5">
            <%= link_to "編集する", edit_admin_item_path, class: "btn btn-lg btn-success" %>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>