<div class="container">
  <div class="row">
    <div class="col-10 mt-5 mb-5">
      <h1 class="bg-light d-inline-block px-3">管理者ログイン</h1>
    </div>
    <div class="col-8 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="col-3"><%= f.label :メールアドレス %></td>
              <td class="col"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", style: "width: 70%" %></td>
            </tr>
            <tr>
              <td class="col-3"><%= f.label :パスワード %></td>
              <td class="col"><%= f.password_field :password, autocomplete: "current-password", style: "width: 70%" %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

<%= render "admin/shared/links" %>
