<div class="container p-5">
  <div>
    <div>
      <h2 class="col-2 bg-light">会員一覧</h2>
      <div>
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td><%= customer.is_deleted %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @customers %>
      </div>
    </div>
  </div>
</div>
