<div class="container p-3">
  <div class="row mx-auto">
    <div class="col-10">
      <h2 class="bg-light d-inline-block px-3 my-5"><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name%>&nbsp;&nbsp;<%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.kana_last_name%>&nbsp;&nbsp;<%= @customer.kana_first_name %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.post_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.is_deleted == false %>
                <strong class="text-success">有効</strong>
              <% else %>
                <strong class="text-muted">退会</strong>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <%= link_to "編集する", edit_admin_customer_path(@customer), class:"btn btn-success px-3 mr-5" %>
              <%= link_to "注文履歴一覧を見る", admin_customer_path(@customer), class:"btn btn-primary px-3 ml-5" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>