<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-7 mb-5'>
      <div class="row m-5 align-items-center">
        <h2 class="bg-light">&nbsp;ジャンル一覧・追加&nbsp;</h2>
      </div>
      <div>
        <%= form_with model:@genre, url: admin_genres_path, local: true do |f| %>
          <%= render 'layouts/errors', obj: @genre %>
          <div class="form-group align-items-center">
            <table class="table table-borderless">
              <tr>
                <td><p class="font-weight-bold"><%= f.label :ジャンル名 %></p></td>
                <td><%= f.text_field :name, placeholder: "ジャンル名", class: 'genre_name' %></td>
                <td><%= f.submit "新規登録", class: 'btn btn-success' %></td>
              </tr>
            </table>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col-md-6 mb-5'>
      <table class='table'>
        <thead class="bg-light">
          <tr>
            <th class="text-center">ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td class="text-center"><%= link_to "編集する", edit_admin_genre_path(genre), class: 'btn btn-success' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>