<%= form_with model: address do |f| %>
  <table>
    <tr>
      <th>郵便番号(ハイフンなし)</th>
      <td><%= f.text_field :post_code %></td>
      <td></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address %></td>
      <td></td>
    </tr>
    <tr>
      <th>宛名</th>
      <td><%= f.text_field :name %></td>
      <td>
        <% if current_page?(public_addresses_path) %>
          <%= f.submit　"新規登録", class:"btn　btn-success" %>
        <% else %>
          <%= f.submit "変更内容を保存",class: "btn btn-success" %>
        <% end %>
      </td>
    </tr>
<% end %>