<div class="container">
  <div class="row">
    <div class="col-10 mt-5">
      <h1>注文情報確認画面</h1>
    </div>
    <div class="col-6 mt-5">
      <table class="table table-bordered">
        <% @cart_items.each do |cart_item| %>
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= image_tag item_image.item.get_item_image %>
                <%= cart_item.item.name %></td>
            <td><%= cart.item.item.with_tax_price %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-4 mt-5">
      <table class="table table-bordered">
        <tbody>
          <thead class="thead-light">
          <tr>
            <th>送料</th>
              <td><%= @order.postage.to_s(:delimited) %>円</td>
            </tr>
          <tr>
            <th>商品合計</th>
               <td><%= @order.total_payment.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>請求金額</th>
              <td><%= @order.total_price.to_s(:delimited) %>円</td>
           </tr>
        </tbody>
      </table>
    </div>
    <div class="col-8">
      <strong>支払方法</strong>
      <span class="ml-5"><%= @order.payment_method_i18n %></span>
    </div>
    <div class="col-8 mt-3">
      <strong>お届け先</strong>
        <span class="ml-5">〒<%= @order.post_code %></span>
        <span><%= @order.address %></span>
        <span><%= @order.name %></span>
    </div>

    <div class="col-6 mx-auto mt-3 mb-3">
      <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :total_payment, value: @order.total_payment %>
      <%= f.hidden_field :status %>
      <%= f.hidden_field :customer_id %>
      <%= f.submit "注文を確定する", class: "btn btn-success mt-3" %>
      <% end %>
    </div>
  </div>
</div>
