<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 mx-auto">
      <h1>注文情報入力</h1>
      <%= form_with model: @order, url: public_order_confirm_path, method: :post do |f| %>
      <div class="payment_method mt-5">
        <strong>支払方法</strong>
        <div class="form_group">
          <div class="form_check ml-5">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
          </div>
          <div class="form_check ml-5">
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
          </div>
        </div>
      </div>
      <div class="address mt-3">
      <strong>お届け先</strong>
        <div class="form-group ml-5">
          <%= f.radio_button :select_address, "0", checked: true %>
          <%= f.label :select_address_0, "ご自身の住所" %>
          <p>〒<%= current_customer.post_code %><%= current_customer.address %></p>
          <p><%= current_customer.last_name %><%= current_customer.first_name %></p>
        </div>
        <div class="form_group ml-5">
          <%= f.radio_button :select_address, "1" %>
          <%= f.label :select_address_1, "登録済み住所から選択" %>
          <p class="form_check ml-3"><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></p>
        </div>
        <div class="form_group ml-5">
          <%= f.radio_button :select_address, "2" %>
          <%= f.label :select_address_2, "新しいお届け先" %>
          <div class="row">
            <div class="col-3 ml-3">
              <p>郵便番号（ハイフンなし）</p>
              <p>住所</p>
              <p>宛名</p>
            </div>
            <div class="col-6">
              <p><%= f.text_field :post_code, placeholder: "0000000", size: "10" %></p>
              <p><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "40x20" %></p>
              <p><%= f.text_field :name, placeholder: "令和道子", size: "40x20" %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="actions col-6 mx-auto">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary mt-3 mb-5" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

