<div class='container p-5 px-0'>
  <div class='row'>
    <div class="col-md-2">
      <%= render 'layouts/genre_search', genres: @genres %>
    </div>
    <div class='col-md-9 offset-1 mb-5'>
      <div class="row">
        <div class="col-md-4 p-1">
          <%= image_tag @item.get_item_image, width: '100%' %>
        </div>
        <div class="col-md-6 offset-1 p-1">
          <h2 class="font-weight-bold"><%= @item.name %></h2>
          <%= @item.introduction %>
          <div class="mt-5 row align-items-center ml-0">
            <h3>￥<%= @item.price.to_s(:delimited) %></h3><span>&nbsp;(税込み)</span>
          </div>
          <% if @item.is_sale == true %>
            <%= form_with model:@cart_item, url: public_cart_items_path, method: :post, local: true do |f| %>
              <div class="form-group form-inline mt-3">
                <div class="mr-5">
                  <%= f.select :amount, 1..10, { prompt: '個数選択' },required: "required" %>
                </div>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.submit "カートに入れる", class: "btn btn-success" %>
              </div>
            <% end %>
          <% else %>
            <p class="text-secondary mt-3">現在ご購入いただけません</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>