<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeEc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/4a9301fbb7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="bg-dark">
      <nav class="navbar navbar-expand-lg">
      <div class="container">
        <div class="navbar-barand p-0"><%= link_to 'naganoCAKE', root_path, class: "text-white lead" %></div>
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to "商品一覧", admin_items_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-white" %>
          </li>
        <% elsif customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", public_customer_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", public_items_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "カート", public_cart_items_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-white" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "About", about_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", public_items_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-white" %>
          </li>
        </ul>
        <% end %>
      </div>
      </nav>
      <div class="row">
      <div class="text-center text-white col-8 pb-3">
        <% if customer_signed_in? %>
          ようこそ、<%= current_customer.last_name %>さん！
        <% end %>
      </div>
        <div class="form-group row justify-content-center">
          <%= form_with url:public_search_items_path, method: :get, local: :true do |f| %>
            <%= f.text_field :word, placeholder: "商品名を入力" %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>
    </header>

    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>

    <footer class="text-center">
      <p>CopyRight A4-danshi<A4男子></p>
    </footer>
  </body>
</html>
