<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakeEc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/4a9301fbb7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <header class="border-bottom border-dark">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2 pl-5">
            <div class="logo">
              <%= link_to root_path, class: "lead" do %>
                <%= image_tag 'logo.png', :style => "max-height:120px" %>
              <% end %>
            </div>
          </div>
          <div class="col-3 offset-1 my-auto">
           <div class="text-center text-dark pb-3">
              <% if customer_signed_in? %>
                ようこそ、<%= current_customer.last_name %>さん！
              <% end %>
            </div>
          </div>
          <div class="col-6 pr-5">
            <nav class="navbar navbar-expand-md">
              <% if admin_signed_in? %>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mr-3">
                    <%= link_to "商品一覧", admin_items_path, class: "nav-link text-white btn btn-outline-primary btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                </ul>
              <% elsif customer_signed_in? %>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mr-3">
                    <%= link_to "マイページ", public_customer_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "商品一覧", public_items_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "カート", public_cart_items_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                </ul>
              <% else %>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item mr-3">
                    <%= link_to "About", about_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "商品一覧", public_items_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item mr-3">
                    <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-white btn btn-secondary" %>
                  </li>
                </ul>
              <% end %>
            </nav>
            <div class="float-right mt-3 pr-5">
              <div class="form-group row">
                <%= form_with url:public_search_items_path, method: :get, local: :true do |f| %>
                  <%= f.text_field :word, placeholder: "商品名を入力" %>
                  <%= f.submit "検索" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>

    <footer class="text-center border-top border-dark">
      <div class="m-3">
        <p>CopyRight A4-danshi<A4男子></p>
      </div>
    </footer>
  </body>
</html>
